:root {
    --gcba-main-color: #00a665;

    --navbar-height: 75px;
}

body {
    background-color: black !important;
}

nav.navbar {
    background-color: #009059 !important;;
/*    border-bottom: 1px solid lightgrey;*/
    height: var(--navbar-height);
    padding-bottom: 0;
    padding-top: 0;
}

.section-title {
    font-size: 16px;
}

@media (min-width: 576px) {
    .section-title {
       font-size: 22px;
    }
}

@media (min-width: 768px) {
    .section-title {
       font-size: 28px;
    }
}

div.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

div.navbar-brand div.logos > div {
    display: inline-block;
    height: var(--navbar-height);
}

div.navbar-brand div.logos div.sqGA {
    background-color: var(--gcba-main-color);
    color: white;
    text-align: center;
    width: 100px;
}

.stGA {
    fill: #FFFFFF;
}

div.navbar-brand div.logos div.sqGA .logoGA {
    font-size: .9rem;
    line-height: 1rem;
    margin-bottom: 0;
    white-space: normal;
}
