{% extends "base.html" %}
{% load widget_tweaks %}

{% load static %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <a role="button" class="btn btn-warning btn-sm active" href="{% url 'lista_solicitudes' %}">Volver a la lista</a>

    <div class='jumbotron'>
        <form method="post" novalidate>
        {% csrf_token %}

        {% for field in form.visible_fields %}
            <div class="form-group">
              {{field.name|upper}}
              {% render_field field class="form-control" %}
            </div>
        {% endfor %}
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
    <div class="line"></div>

{% endblock %}