{% extends "base.html" %}
{% load widget_tweaks %}

{% load static %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <p>¿Está seguro que desea borrar la solicitud con los siguientes datos"?</p>

    <div class="jumbotron">
        <h2>{{ object.solicitante }}</h2><br>
        <p>Número de documento:<b> {{ object.solicitante.numero_documento }}</b></p>
        <p>Email:<b> {{ object.solicitante.email }}</b></p>
        <p>Monto: <b> {{ object.monto }}</b></p>
        <p>Aprobado: <b> 
            {% if object.aprobado %}
                Si
            {% else %}
                No
            {% endif %}
        </b></p>
    </div>

    <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
    <a role="button" class="btn btn-warning btn-sm active" href="{% url 'lista_solicitudes' %}">Cancelar</a>
</form>

{% endblock %}