{% extends "base.html" %}

{% block titulo %}
    Lista de solicitudes
{% endblock %}

{% block descripcion %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Solicitante</th>
        <th scope="col">Monto</th>
        <th scope="col">Aprobado</th>
        <th scope="col">Solicitud con errores</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for solicitud in object_list %}
    <tr>
        <th scope="row">{{ solicitud.solicitante }}</th>
        <td>{{ solicitud.monto }}</td>
        <td>
            {% if solicitud.aprobado %}
                Si
            {% else %}
                No
            {% endif %}
        </td>
        <td>
            {% if solicitud.errores %}
                Si
            {% else %}
                No
            {% endif %}
        </td>
        <th scope="row">
            <a role="button" class="btn btn-success btn-sm active" href="{% url 'detalles_solicitudes' pk=solicitud.id%}">Detalles</a>

            <a role="button" class="btn btn-warning btn-sm active" href="{% url 'editar_solicitud' pk=solicitud.id%}">Editar</a>

            <a role="button" class="btn btn-danger btn-sm active" href="{% url 'eliminar_solicitud' pk=solicitud.id%}">Eliminar</a>

        </th>
    </tr>
        {% empty %}
        <td>Sin datos</td><td></td><td></td><td></td><td></td>
        {% endfor %}
    </tbody>
</table>

{% endblock %}