{% extends "base.html" %}

{% load static %}

{% block titulo %}
    Detalle solicitud id: {{ object.id }}
{% endblock %}

{% block content %}
<a role="button" class="btn btn-warning btn-sm active" href="{% url 'lista_solicitudes' %}">Volver a la lista</a>
<div class="jumbotron">
    <h2>{{ object.solicitante }}</h2><br>
    <p>Número de documento:<b> {{ object.solicitante.numero_documento }}</b></p>
    <p>Email:<b> {{ object.solicitante.email }}</b></p>
    <p>Monto: <b> {{ object.monto }}</b></p>
    <p>Aprobado: <b> 
        {% if object.aprobado %}
            Si
        {% else %}
            No
        {% endif %}
    </b></p>
    <p>Error en la solicitud: <b> 
        {% if object.errores %}
            Si
        {% else %}
            No
        {% endif %}
    </b></p>
</div>
<a role="button" class="btn btn-warning btn-sm active" href="{% url 'editar_solicitud' pk=object.id %}">Editar</a>
{% endblock %}
