{% extends "base.html" %}
{% load widget_tweaks %}

{% block titulo %}
    Nueva Solicitud
{% endblock %}

{% block descripcion %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <p>Ingrese los datos para una nueva solicitud</p>
    <div class='jumbotron'>
      <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
              {% render_field field class="form-control" %}
            </div>
        {% endfor %}
        <br>
        <center><button type="submit" class="btn btn-success btn-lg">Enviar solicitud</button></center>
      </form>
    </div>

{% endblock %}